{{ define "footer" }}
    <footer class="footer mt-auto">
        <div class="container">
            <small><span class="text-muted">Last update on 12-22-2020</span></small>
            <small><span class="float-right"><a target="_blank" href="https://github.com/pogzyb/website">source</a></span></small>
        </div>
    </footer>
{{ end }}