{{ define "footer" }}
    <footer class="footer mt-auto py-3">
        <div class="container">
            <hr>
            <small><span class="text-muted">Updated: 09-26-2020</span></small>
            <small><span class="text-muted float-right"><a target="_blank" href="https://github.com/pogzyb/website">source<i class="ml-1 fab fa-git-alt"></i></a></span></small>
        </div>
    </footer>
{{ end }}